/*////// GENEREL STYLES //////*/
body {
	background: #000000 /* Цвет фона */
	url(../image/fon.jpg) 
	top center 
	no-repeat 
	fixed; 
	font-family: Arial, San-Serif;
	font-size: 100%;
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
p {
	font-size: 14px;
	line-height: 1.3em;
}
.container {
	margin: 0 auto;
	width: 960px;
}
header,
main,
footer {
	margin: 0 auto;
	width: 960px;
}
nav {
	margin: 0 auto;
	width: 1064px;
}

/* Header */
.header {
	background: url(../image/fon_shapka.png)
	top center
	no-repeat;
	padding: 5px 0;
}
.logo {
	text-align: center;
}
.header h1 {
	color: #ffcc66;
	text-align: center;
	text-transform: none;
	text-shadow: 3px 2px 3px #000000;
	font-size: 3em;
	font-weight: bold;
}

/* Navigation */
.page-navigation {
	background-color: #333399;
	border: 2px solid #ffcc66;
	width: 960px;
	min-height: 48px;
}
.page-navigation li {
	float: left;
	width: auto;
	text-transform: uppercase;
	line-height: 1.7em;
	text-shadow: 0px 2px 2px #000000;
}
.page-navigation a {
	display: block;
	padding: 0 10px 0px 10px;
	color: #ccccff;
	line-height: 48px;
	font-weight: bold;
	text-align: center;
}
.page-navigation li a:hover {
	color: #ffcc66;
	background-color: #993366;
}

/* Menu */
ul.dropdown li {
	position: relative;
}
ul.dropdown,
ul.dropdown-inside {
	list-style-type: none;
	padding: 0;
}
#dropdownSubCategories {
	/*display: none;*/
}
ul.dropdown-inside {
	position: absolute;
	left: -9999px;
	color: #ccccff;
	margin: 0px 5px 5px 0;
	padding: 10px 10px 10px 10px;
	text-align: left;
	text-transform: none;
}
ul.dropdown li.dropdown-top {
	display: inline;
	float: left;
	margin: 0 1px 0 0;
}
ul.dropdown li.dropdown-top a {
	padding: 0 10px 0px 10px;
	display: block;
}
ul.dropdown a.dropdown-top {
	background-color: #333399;
}
ul.dropdown a.dropdown-top:hover {
	color: #ffcc66;
	background-color: #993366;
	border-bottom: 2px solid #ffcc66;
	padding: 0 10px 0px 10px;
	}
ul.dropdown li.dropdown-top:hover .dropdown-inside {
	display: block;
	left: 0;
}
ul.dropdown .dropdown-inside {
	background: #333399;
}
ul.dropdown .dropdown-inside a:hover {
	background: #993366;
	border-top: 2px solid #ffcc66;
	border-bottom: 2px solid #ffcc66;
}

/* LOGIN FORMA */
.login {
	padding: 8px 8px;
	float: right;
}
.login input[type="text"],
.login input[type="password"] {
	padding: 5px;
	margin-right: 5px;
	border: 0px solid transparent;
	border-radius: 5px;
	outline: none;
}
.login input[type="submit"] {
	padding: 5px 15px;
	border: 0px solid lightgrey;
	background-color: #9999cc;
	color: #333399;
	border-radius: 5px;
}
.login input[type="submit"]:hover,
bottom:hover {
	background-color: #993366;
	color: #FFCC66;
}

/* Таблица */
.table,
.table1,
.table2 {
	background: #ccccff;
	float: left;
	width: 25%;
	padding: 5px 5px 5px 5px;
	height: 20px;
	text-align: center;
}
.table3 {
	background:#ccccff;
	width: avto;
	padding: 5px 5px 5px 5px;
	height: 20px;
	text-align: center;
}
.table0,
.table01,
.table02 {
	background: #9999cc;
	float: left;
	width: 25%;
	padding: 5px 5px 5px 5px;
	height: 20px;
	text-align: center;
}
.table03 {
	background: #9999cc;
	width: avto;
	padding: 5px 5px 5px 5px;
	height: 20px;
	text-align: center;
}

/* MAIN PART */
main {
	background: transparent; /* Цвет фона */
}
.collections {
	overflow: auto;
}
.collection-title {
	padding: 5px 5px 5px 5px;
	color: #ffcc66;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	text-shadow: 3px 2px 3px #000000;
}
.collection-title small {
	color: #ffcc66;
	font-size: 80%;
}
.collection-item-outer {
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	width: 50%;
	box-sizing: border-box;
}
.collections > div:first-child {
	padding-left: 0;
	padding-right: 5px;
}
.collections > div:last-child {
	padding-left: 0;
	padding-right: 5 px;
}
.collection-item {
	border: 1px solid #959595;
}
.collection-item img {
	width: 100%;
}
.collection-text {
	padding: 0 20px 20px 20px;
}
.collection-text h3 {
	color: #ffcc66;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.collection-text p {
	max-height: 80px;
	overflow: hidden;
}
.collection-text buttom {
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}

/* FOOTER */
.footer {
	background-color: #333399;
	color: #9999cc;
	padding: 20px 0;
	margin-top: 30px;
}

.category-line-template {
	display: none;
}
/*.category-line-template:hover {*/

/*}*/
.sub-category-container-hidden {
	display:none;
}
.sub-category-container {
	display:block;
	background-color: white;
}
.category-line {
	display: block;
}
